@import "config/var.scss";
body{
background-color: aqua;
}
h1{
    background-color: antiquewhite;
    
}
@import "block/*.scss";
@import"config/libs";
@import"config/media.scss";

@media(max-width:992px){
    h1{
        background-color: blueviolet;
    }
}
@media(max-width:992px){
    h2{
        background-color: blueviolet;
    }
}